@import "tailwindcss";
/* tailwind.css かグローバルCSSに追加 *//* globals.css または tailwind.css に追加 */
@keyframes flash-red {
  0% {
    background-color:  rgba(255, 0, 0, 0.4)
  }
  100% {
    background-color: transparent;
  }
}

.animate-flash-red {
  animation: flash-red 0.2s ease-out;
}
